{% extends 'core/index.html' %}
{% load static %}
{% block title %}{{course.name}}{% endblock title %}
{% block content %}
<div class="courses_details_banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="course_text">
                       <h3>{{course.name}}</h3>
                       <div class="prise">
                           <span class="active">USD {{course.price}}</span>
                       </div>
                       <div class="rating">
                           {% if course.qualification == 1 %}
                           <i class="flaticon-mark-as-favorite-star"></i>
                           {% endif %}
                           <span>{{course.qualification}}</span>
                       </div>
                       <div class="hours">
                           <div class="video">
                                <div class="single_video">
                                       <i class="fa fa-clock-o"></i> <span>12 Videos</span>
                                </div>
                                <div class="single_video">
                                       <i class="fa fa-play-circle-o"></i> <span>9 Hours</span>
                                </div>
                              
                           </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<div class="courses_details_info">
   <div class="container">
       <div class="row">
           <div class="col-xl-7 col-lg-7">
               <div class="single_courses">
                   <h3>Objetivos</h3>
                   <p>Our set he for firmament morning sixth subdue darkness creeping gathered divide our let god moving. Moving in fourth air night bring upon you’re it beast let you dominion likeness open place day great wherein heaven sixth lesser subdue fowl male signs his day face waters itself and make be to our itself living. Fish in thing lights moveth. Over god spirit morning, greater had man years green multiply creature, form them in, likeness him behold two cattle for divided. Fourth darkness had. Living light there place moved divide under earth. Light face, fly dry us </p>
               <h3 class="second_title">Course Outline</h3>
               </div>
               <div class="outline_courses_info">
                       <div id="accordion">
                        {% for question in question_list %}
                               <div class="card">
                                   <div class="card-header" id="heading{{question.id}}">
                                       <h5 class="mb-0">
                                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{question.id}}" aria-expanded="false" aria-controls="collapseTwo">
                                               <i class="flaticon-question"></i> {{question.question}}
                                           </button>
                                       </h5>
                                   </div>
                                   <div id="collapse{{question.id}}" class="collapse" aria-labelledby="heading{{question.id}}" data-parent="#accordion">
                                       <div class="card-body">
                                        {{question.answer}}
                                       </div>
                                   </div>
                               </div>
                               {% endfor %}
                            </div>
               </div>
           </div>
           <div class="col-xl-5 col-lg-5">
               <div class="courses_sidebar">
                   <div class="video_thumb">
                       <img src="{{course.image.url}}" alt="">
                       <a class="popup-video" href="https://www.youtube.com/watch?v={{course.video}}">
                           Ver Video
                       </a>
                   </div>
                   <div class="author_info">
                       <div class="auhor_header">
                           <div class="thumb">
                                   <img src="img/latest_blog/author.png" alt="">
                           </div>
                           <div class="name">
                               <h3>Macau Wilium</h3>
                               <p>UI/UX Designer</p>
                           </div>
                       </div>
                       <p class="text_info">
                           Our set he for firmament morning sixth subdue darkness creeping gathered divide our let
                           god moving. Moving in fourth air night bring upon you’re it beast let you dominion
                           likeness open place day
                       </p>
                       <ul>
                           <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                           <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                           <li><a href="#"> <i class="ti-linkedin"></i> </a></li>
                       </ul>
                   </div>
                   <a href="#" class="boxed_btn">Buy Course</a>
                   <div class="feedback_info">
                       <h3>Write your feedback</h3>
                       <p>Your rating</p>
                       <i class="flaticon-mark-as-favorite-star"></i>
                       <i class="flaticon-mark-as-favorite-star"></i>
                       <i class="flaticon-mark-as-favorite-star"></i>
                       <i class="flaticon-mark-as-favorite-star"></i>
                       <i class="flaticon-mark-as-favorite-star"></i>
                       
                   <form action="#">
                           <textarea name="" id="" cols="30" rows="10" placeholder="Write your feedback"></textarea>
                           <button type="submit" class="boxed_btn">Submit</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>


{% endblock content %}